{{ if .Site.Data.content.BasicInfo.Photo }}
    <div class="sideSection avatar">
        <div class="avatar__container">
            <img class="avatar__img" src="{{ .Site.Data.content.BasicInfo.Photo |relURL }}" alt="photo of me">
        </div>
    </div>
{{ end }}
